certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clarifai==2.6.2
click==8.0.1 
DateTime==4.3
decorator==4.4.2
fake-useragent==0.1.11
filelock==3.0.12
Flask==2.0.1
flask-ngrok==0.0.25
Flask-SQLAlchemy==2.5.1
flask-login==0.5.0
future==0.18.2
gunicorn==20.1.0
ipykernel==5.4.0
ipython==7.19.0
itsdangerous==2.0.1 
ipython-genutils==0.2.0
isort==5.6.3
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jsonschema==2.6.0
mysql-connector==2.2.9
pefile==2019.4.18
pyOpenSSL==19.1.0
pyparsing==2.4.7
SQLAlchemy==1.4.17
threadpoolctl==2.1.0
Werkzeug==2.0.1 
psycopg2==2.9.1
psycopg2-pool==1.1 
firebase-admin==5.0.2
